name: openiothub_constants
description: openiothub_constants
version: 1.0.2+3
homepage: https://github.com/OpenIoTHub

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.19.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
