[Desktop Entry]
Version=1.0
Type=Application

Name=云亿连
Comment=OpenIoTHub
Categories=Utility;Amusement;

Icon=com.iotserv.OpenIoTHubApp
Exec=openiothub
Terminal=false
StartupWMClass=openiothub