[Desktop Entry]
Name=OpenIoTHub App
Comment=OpenIoTHub App for IoT device and proxy
Exec=openiothub
Icon=${SNAP}/meta/gui/openiothub.png
Terminal=false
Type=Application
Categories=Network;
